.text {
text-align: left;
font-size: 25px;
}
.fot {
     float:left; 
    margin: 7px 7px 7px 0; 
}
.fot2 {

     float: right;
    margin: 7px 0 7px 7px; 
}
.fotos {
    width: 40px;
    height: 40px;
}
.reg {
    font-size: 20px;
  
}
.zag {
    text-align: center;
}